* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  /* background-color: red; */
  color: white;
}
header {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #395268;
  width: 100vw;
  height: 4rem;
}
#display {
  position: relative;
  font-size: 40px;
  border: 2px solid #a9b2b9;
  border-radius: 15px;
  color: black;
  padding: 0px 10px 0px 0px;
  /* background-color: red; */
  /* top right bottom left */
  width: 750px;
  height: 91px;
  margin: 20px 0px 0px 0px;
}
.hamburger {
  /* display: flex; */
  position: fixed;

  left: 94%;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.4s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.mainwrapper {
  display: flex;
  height: 100vh;
  /* align-items: center; */
  flex: 1;
  justify-content: center;
}

.buttons-container {
  display: flex;
  /* background-color: black; */
  width: 750px;
}

.main-buttons-container {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 550px;
  /* height: 50px; */
  /* border: 1px solid black; */
  /* background-color: black; */
  border-radius: 20px;
  /* top right bottom left */
  margin: 5px 0px 0px 0px;
}

.side-buttons-container {
  /* position: relative; */
  display: flex;
  justify-content: center;
  width: 170px;
  /* height: 400px; */
  background-color: #395268;
  border-radius: 20px;
  /* top right bottom left */
  margin: 15px 0px 0px 30px;
}
.row-of-buttons {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.side-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 62px;
  margin: 12px 8px 10px 8px;
  border-radius: 10px;
  background-color: white;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 72px;;
  margin: 12px 8px 10px 8px;
  border-radius: 10px;
  background-color: #a9b2b9;
}

#digit {
  width: 144px;
  height: 72px;;
  margin: 12px 8px 10px 8px;
  border-radius: 10px;
  background-color: #d4dee7;
}

.button:hover {
  background-color: red;
}
